/**
 * Created by lixianqi on 2017/5/3.
 */

/* 公共 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul,li,h4,h3,h5,h6,dd,dl,dt,i,a,i{border: 0 none;
    margin: 0;
    outline: medium none;
	font-style:normal;
	list-style: outside none none;
    padding: 0;
	font-weight:500;
}
a,a:hover,a:active{cursor:pointer;text-decoration:none;outline:none;}
button{cursor:pointer;}
a:hover {
    text-decoration: none;
	
}
html,body{height:100%;margin:0;padding:0;font-size:17px;font-family:MicrosoftYaHei;}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
/* 最外层两个容器 */
.main_table{transform:translate3d(0,0,0);position:fixed;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background-color:#000000;}
.main_contain{position:relative;width:100%;height:100%;perspective:500px;transform-style:preserve-3d;}

/* 控制按钮 */
.main_btn{right:10px;bottom:10px;position:absolute;display:inline-block;width:73px;height:73px;}
.main_btn.top{right:79px;bottom:148px;background:url('../img/cro_t.png') no-repeat center center;background-size:contain;}
.main_btn.down{right:79px;bottom:12px;background:url('../img/cro_b.png') no-repeat center center;background-size:contain;}
.main_btn.left{right:148px;bottom:80px;background:url('../img/cro_l.png') no-repeat center center;background-size:contain;}
.main_btn.right{right:10px;bottom:80px;background:url('../img/cro_r.png') no-repeat center center;background-size:contain;}
.main_btn.center{width:40px;height:40px;right:96px;bottom:118px;background:url('../img/assd2.png') no-repeat center center;background-size:contain;}
.main_btn.center2{width:40px;height:40px;right:95px;bottom:75px;background:url('../img/assd1.png') no-repeat center center;background-size:contain;}
.main_btn.roll1{width:19px;height:40px;right:139px;bottom:95px;background:url('../img/slide0.png') no-repeat center center;background-size:contain;}
.main_btn.roll2{width:19px;height:40px;right:74px;bottom:95px;background:url('../img/slide1.png') no-repeat center center;background-size:contain;}




/* 视图窗口 */
.view{border:2px solid #ffffff;transform-origin:center center;transform:translateZ(20px);transform-style:preserve-3d;
      position:absolute;width:100%;height:100%;bottom:0;left:0;}
.view .viewc{position:relative;width:100%;height:100%;transform-style:preserve-3d;}
.middle_line{position:absolute;width:2px;background-color:#1eff00;height:100%;left:50%;margin-left:-1px;}


/* 世界容器 */
.world{border:2px solid #ffffff;transform-origin:center center;transform:translateZ(20px);transform-style:preserve-3d;
      position:absolute;width:100%;height:100%;bottom:0;left:0;}
.world .worldc{position:relative;width:100%;height:100%;transform-style:preserve-3d;}

/* 地面 */
.bland_ground{transform-style: preserve-3d;position:absolute;left:0;bottom:0;width:100%;height:10000px;border:1px solid #ffffff;background:url('../img/bland_ground1.jpg') no-repeat center center;background-size:cover;
        transform:rotateX(90deg);transform-origin:center bottom;}
.bland_ground{border:5px dashed #ff552e;background:none;background-color:#001e50;}



/* 一个元素 元素的上面下面必须是正方形 */
.ele{position:absolute;transform-origin:center center;transform-style:preserve-3d;}
.elec{position:relative;width:100%;height:100%;transform-style:preserve-3d;}
.suf{width:100%;height:100%;position:absolute;border:2px solid #ffffff;transform-style: preserve-3d;}
.suf.after{transform:translateZ(-100px);}
.suf.before{}
.suf.top{transform:rotateX(-90deg);transform-origin:center top;}
.suf.bottom{bottom:-4px;transform:rotateX(90deg);transform-origin:center bottom;}
.suf.left{transform:rotateY(90deg);transform-origin:left center;}
.suf.right{transform:rotateY(-90deg);transform-origin:right center;}




/* 盒子1 */
.shop1{width:500px;height:200px;left:400px;bottom:100px;transform:translateZ(-0px);} /* 设置盒子宽度高度 位置 */
.shop1 .suf.top{height:500px;} /* =width */
.shop1 .suf.bottom{height:500px;} /* =width */
.shop1 .suf.after{transform:translateZ(-500px);}  /* =width */












