/**
 * Created by lixianqi on 2017/5/3.
 */

/* ¹«¹² */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul,li,h4,h3,h5,h6,dd,dl,dt,i,a,i{border: 0 none;
    margin: 0;
    outline: medium none;
	font-style:normal;
	list-style: outside none none;
    padding: 0;
	font-weight:500;
}
a,a:hover,a:active{cursor:pointer;text-decoration:none;outline:none;}
button{cursor:pointer;}
a:hover {
    text-decoration: none;
	
}
html,body{height:100%;margin:0;padding:0;font-size:17px;font-family:MicrosoftYaHei;}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.main_table{position:fixed;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background-color:#000000;}
.main_contain{position:relative;width:100%;height:100%;}
.main_contain{backface-visibility:visible;transform-style: preserve-3d;perspective: 800px;perspective-origin: 50% 30%;transform:rotateX(0deg) rotateY(0deg);transform-origin:center bottom;}
.box_page{color:#ffffff;font-size:20px;text-align:center;line-height:200px;width:200px;height:200px;transform-style: preserve-3d;
	 border:2px solid #ffffff;position:absolute;left:50%;top:50%;margin:-100px 0 0 -100px;}
.box_page.top{transform:rotateX(-90deg);transform-origin:center top;background:url('../img/twar.jpg') repeat center center;background-size:contain;}
.box_page.bottom{transform:rotateX(90deg);transform-origin:center bottom;background:url('../img/bwar.jpg') repeat center center;background-size:contain;}
.box_page.left{transform:rotateY(90deg);transform-origin:left center;background:url('../img/war.jpg') repeat center center;background-size:contain;}
.box_page.right{transform:rotateY(-90deg);transform-origin:right center;background:url('../img/war.jpg') repeat center center;background-size:contain;}
.box_page.before{}
.box_page.after{transform:translateZ(-200px);background:url('../img/war.jpg') repeat center center;background-size:contain;}
.bland_ground{transform-style: preserve-3d;position:absolute;left:0;bottom:0;width:100%;height:1000px;border:1px solid #ffffff;background:url('../img/bland_ground.jpg') repeat center center;background-size:auto;
transform:rotateX(89deg);transform-origin:center bottom;}
.main_btn{right:10px;bottom:10px;position:absolute;display:inline-block;width:73px;height:73px;}
.main_btn.top{right:79px;bottom:148px;background:url('../img/cro_t.png') no-repeat center center;background-size:contain;}
.main_btn.down{right:79px;bottom:12px;background:url('../img/cro_b.png') no-repeat center center;background-size:contain;}
.main_btn.left{right:148px;bottom:80px;background:url('../img/cro_l.png') no-repeat center center;background-size:contain;}
.main_btn.right{right:10px;bottom:80px;background:url('../img/cro_r.png') no-repeat center center;background-size:contain;}




















