/**
 * Created by lixianqi on 2017/5/3.
 */

/* ¹«¹² */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul,li,h4,h3,h5,h6,dd,dl,dt,i,a,i{border: 0 none;
    margin: 0;
    outline: medium none;
	font-style:normal;
	list-style: outside none none;
    padding: 0;
	font-weight:500;
}
a,a:hover,a:active{cursor:pointer;text-decoration:none;outline:none;}
button{cursor:pointer;}
a:hover {
    text-decoration: none;
	
}
html,body{height:100%;margin:0;padding:0;font-size:17px;font-family:MicrosoftYaHei;}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.left_menu_div{position:fixed;width:20%;height:100%;left:0;right:0;top:0;bottom:0;background-color:#000000;}
.main_table{position:fixed;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background-color:#000000;}
.admin .main_table{width:80%;height:100%;left:20%;}

.main_contain{position:relative;width:100%;height:100%;}
.main_contain{perspective: 200px;transform-style:preserve-3d;}

.bland_ground{transform-style: preserve-3d;position:absolute;left:0;bottom:0;width:100%;height:1000px;border:1px solid #ffffff;background:url('../img/bland_ground1.jpg') no-repeat center center;background-size:cover;
        transform:rotateX(90deg);transform-origin:center bottom;}
.bland_ground{border:5px dashed #ff552e;background:none;background-color:#001e50;}

.main_btn{right:10px;bottom:10px;position:absolute;display:inline-block;width:73px;height:73px;}
.main_btn.top{right:79px;bottom:148px;background:url('../img/cro_t.png') no-repeat center center;background-size:contain;}
.main_btn.down{right:79px;bottom:12px;background:url('../img/cro_b.png') no-repeat center center;background-size:contain;}
.main_btn.left{right:148px;bottom:80px;background:url('../img/cro_l.png') no-repeat center center;background-size:contain;}
.main_btn.right{right:10px;bottom:80px;background:url('../img/cro_r.png') no-repeat center center;background-size:contain;}
.main_btn.center{width:40px;height:40px;right:96px;bottom:118px;background:url('../img/assd2.png') no-repeat center center;background-size:contain;}
.main_btn.center2{width:40px;height:40px;right:95px;bottom:75px;background:url('../img/assd1.png') no-repeat center center;background-size:contain;}
.main_btn.roll1{width:19px;height:40px;right:139px;bottom:95px;background:url('../img/slide0.png') no-repeat center center;background-size:contain;}
.main_btn.roll2{width:19px;height:40px;right:74px;bottom:95px;background:url('../img/slide1.png') no-repeat center center;background-size:contain;}


.box1,.box{border:2px solid #ffffff;transform-origin:bottom center;transform:translateZ(20px);transform-style:preserve-3d;
      position:absolute;width:500px;height:500px;left:50%;top:50%;margin:-250px 0 0 -250px;}
.box1 .box_content,.box .box_c{position:relative;width:500px;height:500px;transform-style:preserve-3d;}
.box1{width:500px;height:500px;left:0;top:0;margin:0;}
.box{}

.dian1{transform-origin:center center;transform:translateZ(-386px);transform-style:preserve-3d;
      position:absolute;width:200px;height:200px;left:0;bottom:6px;}
.dian1 .dian_content{position:relative;width:200px;height:200px;transform-style:preserve-3d;}

.box_page{transform-style:preserve-3d;color:#ffffff;font-size:20px;text-align:center;line-height:200px;width:200px;height:200px;transform-style: preserve-3d;
	 border:2px solid #ffffff;position:absolute;}
.box_page.top{transform:rotateX(-90deg);transform-origin:center top;background:url('../img/twar.jpg') repeat center center;background-size:contain;}
.box_page.bottom{transform:rotateX(90deg);transform-origin:center bottom;background:url('../img/bwar.jpg') repeat center center;background-size:contain;}
.box_page.left{transform:rotateY(90deg);transform-origin:left center;background:url('../img/war.jpg') repeat center center;background-size:contain;}
.box_page.right{transform:rotateY(-90deg);transform-origin:right center;background:url('../img/war.jpg') repeat center center;background-size:contain;}
.box_page.before{}
.box_page.after{transform:translateZ(-200px);background:url('../img/war.jpg') repeat center center;background-size:contain;}
















