<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>编辑页面</title>
	<style>
		
	</style>
</head>
<body class="admin">
<!-- 侧边栏 -->
<div class="left_menu_div">
	
</div>
<!-- 右侧容器 -->
<div class="main_table">
	<div class="main_contain">
		
		<div class="box1"><div class="box_content">
			<div info="商铺1" class="dian1"><div class="dian_content">
				<div class="box_page top"></div>
				<div class="box_page bottom"></div>
				<div class="box_page left"></div>
				<div class="box_page right"></div>
				<div class="box_page before"></div>
				<div class="box_page after"></div>
			</div></div>
			
			<div info="地面" class="bland_ground"></div>
			
		</div></div>
		
		
		
	
	
	</div>
	<!-- 上下左右控制 -->
	<div aid="1" class="main_btn top"></div>
	<div aid="2" class="main_btn down"></div>
	<div aid="3" class="main_btn left"></div>
	<div aid="4" class="main_btn right"></div>
	<div aid="5" class="main_btn center"></div>
	<div aid="6" class="main_btn center2"></div>
	<div aid="7" class="main_btn roll1"></div>
	<div aid="8" class="main_btn roll2"></div>
</div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>
</body>
<script>
$(function(){
	var g = {};
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.totalElements = 0;//总数
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.interval = '';//存定时器
	g.numX = 0,g.numY = -190,g.numZ = 110,g.numL = 0,g.numR = 0;//存移动步数
	
/* **************************************** lodding ******************************************** */		
	
	loadPage();//加载页面
	//$('.main_btn').mousedown(function(){movePosition();});//上下左右移动
	$('.main_btn').each(function(){
		var aid = $(this).attr('aid') || '';
		$(this).click(function(e){movePosition(aid);e.preventDefault();});//上下左右移动
	});
	//$('.main_btn').mouseup(function(){
	//	clearInterval(g.interval);
	//});//停止移动
	
	
/* **************************************** setTing ******************************************** */	
	//加载页面
	function loadPage(){
		moveIt();//加载默认值
	}
	
	
	//上下左右移动
	function movePosition(aid){
		if(g.interval){clearInterval(g.interval);g.interval = '';return false;}
		//g.num = 0;
		g.interval = setInterval(function(){ moveIt(aid); },100);
	}
	//移动
	function moveIt(aid){
		
		switch(aid){
			case '1':g.numY+=10;break;//上
			case '2':g.numY-=10;break;//下
			case '3':g.numX+=10;break;//左
			case '4':g.numX-=10;break;//右
			case '5':g.numZ+=10;break;//前
			case '6':g.numZ-=10;break;//后
			case '7':g.numL++;break;//左转
			case '8':g.numR--;break;//右转
			default:break;
		}
		$('.box1').css({'transform':'rotateY('+g.numL+'deg) rotateY('+g.numR+'deg) translateY('+g.numY+'px) translateX('+g.numX+'px) translateZ('+g.numZ+'px)','transform-origin':'center center;'});
	}
	
	
});
</script>	

</html>