/**
 * Created by lixianqi on 2017/5/3.
 */

/* 公共 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, img {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
ul,li,h4,h3,h5,h6,dd,dl,dt,i,a,i{border: 0 none;
    margin: 0;
    outline: medium none;
	font-style:normal;
	list-style: outside none none;
    padding: 0;
	font-weight:500;
}
a,a:hover,a:active{cursor:pointer;text-decoration:none;outline:none;}
button{cursor:pointer;}
a:hover {
    text-decoration: none;
	
}
input:active,input:focus{outline:none;}
html,body{height:100%;margin:0;padding:0;font-size:17px;font-family:MicrosoftYaHei;}

/* 下拉框 */
.choiseDanwei{max-height:200px;overflow:hidden;overflow-y:auto;border-radius:4px;box-shadow:0 1px 6px rgba(0, 0, 0, 0.2);margin-left:1px;margin-top:0px;width:89px;background-color:#fff;position:absolute;left:0;top:0;z-index:999;display:block;display:none;}
.choiseDanwei li{padding:7px 5px;clear:both;overflow:hidden;color:#495060;float:left;font-size:12px;cursor:pointer;text-align:left;display:inline-block;width:93%;line-height:17px;}
.choiseDanwei li.last{border:none;}
.choiseDanwei li:last-child{border:none;}
.choiseDanwei li:hover{color:#000;background-color:#f3f3f3;}
.choiseDanwei li.active{background-color:#f3f3f3;}
.serinputClass{margin:5px 2%;width:90%;padding-left:2%;}



/* 最外层两个容器 */
.main_table{transition:all .25s ease-in-out;transform:translate3d(0,0,0);position:fixed;height:100%;left:198px;left:0;right:0;top:0;bottom:0;background-color:#000000;}
.main_contain{position:relative;width:100%;height:100%;perspective:500px;transform-style:preserve-3d;}

/* 工具窗口 */
.tool{transition:all .25s ease-in-out;position:fixed;display:inline-block;min-height:200px;width:200px;left:2px;top:2px;bottom:2px;background-color:#e6e6e6;z-index:99;}

.toolc{position:relative;width:100%;height:100%;}
.toolc .tool_t{border-bottom:1px solid #000000;height:30px;line-height:30px;font-size:14px;position:relative;text-align:center;color:#ffffff;background:url('../img/tool_img1.jpg') repeat-x center center;background-size:auto 100%;}
.toolc .close_btn{transition:all .25s ease-in-out;display:inline-block;color:#ffffff;padding:5px 8px;position:absolute;top:3px;right:3px;font-size:11px;line-height:11px;border:1px solid #81858b;border-radius:3px;}
.tools_ul{position:absolute;top:62px;bottom:0px;left:2px;right:0;overflow:hidden;overflow-y:auto;}
.tools_ul .li{display:inline-block;margin:0px 2px 0;overflow:hidden;border:1px solid #8b8b8b;border-radius:30px;position:relative;}
.tools_ul .lab{padding:0 0px 0 5px;color:#888888;float:left;font-size:14px;text-align:left;height:24px;line-height:24px;display:inline-block;}
.tools_ul .values{float:left;text-align:center;width:22px;height:22px;line-height:22px;display:inline-block;}
.tools_ul .value_btn{color:#8b8b8b;font-size:20px;}
.tools_ul .value_input{width:40px;font-size:14px;border:1px solid #8b8b8b;border-top:none;border-bottom:none;background-color:#ffffff;}
.tools_ul .value_input.name{margin-left:3px;width:125px;text-align:left;padding-left:3px;border-right:none;}
.tools_ul .value_input.src{width:92px;text-align:left;padding-left:3px;border-right:none;}
.tool .btns_div{text-align:center;overflow:hidden;}
.tool .save_btn{float:left;margin:2px 2px;border-radius:4px;padding:5px 10px;color:#ffffff;background-color:#30A2F6;line-height: 18px;font-size: 13px;transition:all .2s ease-in-out;display:inline-block;}
.tool .save_btn:hover{background-color:#0f81d5;}
.tool .save_btn.type2{background-color:#FF3D55;}
.tool .save_btn.type2:hover{background-color:#de1c34;}
.tool .save_btn.type3{background-color:#92ca7e;}
.tool .save_btn.type3:hover{background-color:#7db569;}
.tool .save_btn.type4{background-color:#F6C243;}
.tool .save_btn.type4:hover{background-color:#e3af30;}
.tool .save_btn.uploadbtn{float:left;margin:0;padding:3px 10px;border-radius:0;}

.headUpload{cursor:pointer;z-index:2;opacity:0;position:absolute;left:0;top:0;width:72px;height:24px;}

.tool.hide{left:-200px;}
.tool.hide .toolc .close_btn{right:-27px;background-color:#F6A623;border:1px solid #F6A623;transform:rotateZ(90deg);}


/* 控制按钮 */
.control_btns{position:fixed;right:0;bottom:0;width:230px;height:230px;z-index:100;}
.control_btns .control_btns_c{position:relative;width:100%;height:100%;}
.main_btn{right:10px;bottom:10px;position:absolute;display:inline-block;width:73px;height:73px;}
.main_btn.top{right:79px;bottom:148px;background:url('../img/cro_t.png') no-repeat center center;background-size:contain;}
.main_btn.down{right:79px;bottom:12px;background:url('../img/cro_b.png') no-repeat center center;background-size:contain;}
.main_btn.left{right:148px;bottom:80px;background:url('../img/cro_l.png') no-repeat center center;background-size:contain;}
.main_btn.right{right:10px;bottom:80px;background:url('../img/cro_r.png') no-repeat center center;background-size:contain;}
.main_btn.center{width:40px;height:40px;right:96px;bottom:118px;background:url('../img/assd2.png') no-repeat center center;background-size:contain;}
.main_btn.center2{width:40px;height:40px;right:95px;bottom:75px;background:url('../img/assd1.png') no-repeat center center;background-size:contain;}
.main_btn.roll1{width:19px;height:40px;right:139px;bottom:95px;background:url('../img/slide0.png') no-repeat center center;background-size:contain;}
.main_btn.roll2{width:19px;height:40px;right:74px;bottom:95px;background:url('../img/slide1.png') no-repeat center center;background-size:contain;}




/* 视图窗口 */
.view{border:2px solid #ffffff;transform-origin:center center;transform:translateZ(20px);transform-style:preserve-3d;
      position:absolute;width:100%;height:100%;bottom:0;left:0;}
.view .viewc{position:relative;width:100%;height:100%;transform-style:preserve-3d;}
.middle_line{position:absolute;width:2px;background-color:#1eff00;height:100%;left:50%;margin-left:-1px;}


/* 世界容器 */
.world{border:2px solid #ffffff;transform-origin:center center;transform:translateZ(20px);transform-style:preserve-3d;
      position:absolute;width:100%;height:100%;bottom:0;left:0;}
.world .worldc{position:relative;width:100%;height:100%;transform-style:preserve-3d;}

/* 地面 */
.bland_ground{transform-style: preserve-3d;position:absolute;left:0;bottom:0;width:100%;height:10000px;border:1px solid #ffffff;background:url('../img/bland_ground1.jpg') no-repeat center center;background-size:cover;
        transform:rotateX(90deg);transform-origin:center bottom;}
.bland_ground{border:5px dashed #ff552e;background:none;background-color:#001e50;}



/* 一个元素 元素的上面下面必须是正方形 */
.ele{cursor:pointer;position:absolute;transform-origin:center center;transform-style:preserve-3d;}
.elec{position:relative;width:100%;height:100%;transform-style:preserve-3d;}
.suf{cursor:pointer;width:100%;height:100%;position:absolute;border:2px solid #ffffff;transform-style: preserve-3d;}
.suf.after{transform:translateZ(-100px);}
.suf.before{}
.suf.top{transform:rotateX(-90deg);transform-origin:center top;}
.suf.bottom{bottom:-4px;transform:rotateX(90deg);transform-origin:center bottom;}
.suf.left{transform:rotateY(90deg);transform-origin:left center;}
.suf.right{right:-3px;transform:rotateY(-90deg);transform-origin:right center;}
.ele.active .suf{border:2px solid #1064c4;}



/* 盒子1 */
.shop1{width:500px;height:200px;left:400px;bottom:100px;transform:translateZ(-0px);} /* 设置盒子宽度高度 位置 */
.shop1 .suf.top{height:500px;} /* =width */
.shop1 .suf.bottom{height:500px;} /* =width */
.shop1 .suf.after{transform:translateZ(-500px);}  /* =width */












