<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>主页</title>
</head>
<body class="">
<div class="main_table">
	<div class="main_contain">
		<div id="box">
			<div class="mofang_box"id="mofang_box">
			  <div class="mofang qian">前<img src="imags/1.jpg"></div>
			  <div class="mofang hou">后<img src="imags/2.jpg"></div>
			  <div class="mofang left">左<img src="imags/3.jpg"></div>
			  <div class="mofang right">右<img src="imags/4.jpg"></div>
			  <div class="mofang top">上<img src="imags/5.jpg"></div>
			  <div class="mofang buttom">下<img src="imags/6.jpg"></div>
			</div>
		</div>
		<div info="大地" class="land_ground land"></div>
	
	
	
	
	
	</div>
</div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>
</body>
</html>