<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>主页</title> 
	<style>
		
	</style>
</head>
<body class="index">

<div class="main_table">
	<div class="main_contain">
		<div info="视图" class="view"><div class="viewc">
			<div class="middle_line"></div>
			<div info="所有元素容器" class="world"><div class="worldc">
				
				
				<div title="盒子1" class="ele shop1"><div class="elec">
					<div class="suf top" style="background:url('../public/img/twar.jpg') repeat center center;background-size:contain;"></div>
					<div class="suf bottom" style="background:url('../public/img/bwar.jpg') repeat center center;background-size:contain;"></div>
					<div class="suf left" style="background:url('../public/img/war.jpg') repeat center center;background-size:contain;"></div>
					<div class="suf right" style="background:url('../public/img/war.jpg') repeat center center;background-size:contain;"></div>
					<div class="suf before"></div>
					<div class="suf after" style="background:url('../public/img/war.jpg') repeat center center;background-size:contain;"></div>
				</div></div>
				
				
				
				<div info="地面" class="bland_ground"></div>
			</div></div>
		</div></div>
		
	
	</div>
	<!-- 上下左右控制 -->
	<div aid="1" class="main_btn top"></div>
	<div aid="2" class="main_btn down"></div>
	<div aid="3" class="main_btn left"></div>
	<div aid="4" class="main_btn right"></div>
	<div aid="5" class="main_btn center"></div>
	<div aid="6" class="main_btn center2"></div>
	<div aid="7" class="main_btn roll1"></div>
	<div aid="8" class="main_btn roll2"></div> 
</div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>
	<script type="text/javascript" src="../public/js/index.js"></script>
</body>
</html>